//
// Colors
//

// General
//$primary: #5d78ff;
$primary: #6320D6;
$secondary: #39088F;
// Text
$headings-color: #000;
$body-color: #7e7e8a;

//
// Typography
//

// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900|Playfair+Display:700,800,900&display=swap");
$font-family-base: "Poppins", sans-serif;
$headings-font-family: "Playfair Display", serif;

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$headings-font-weight: 900; // 400 !important
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;
